body{
    margin: 0;
    background-color: #E5D1FA;
    text-align: center;
}
h1{
    
}



.firstcontainer{
    position: relative;
    margin-top: 100px;
    
}


.middlecontainer{
    height: 100px;
    width: 100px;
    background-color: black;
}


.bottomcontainer{
    height: 100px;
    width: 100px;
    background-color: red;
    
}



.html{
    position:absolute;
    top: 500px;
    right: 100px;
}

.pc{
    margin-top: 100px;

}

.node{

    position:absolute;
    top: 380px;
    left: 100px;
} 