/* 16px = 100 % = 1em */
body{
    margin: 0;
    background-color: #E5D1FA;
    text-align: center;
    font-size: 2em;
    font-family: 'Merriweather', serif;

}
h1{
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;

    
}
h2{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
}
p{
    font-size: 30px;
}

hr{
    height:3px;
    background-color : black;
}

.firstcontainer{
    position: relative;
    margin-top: 100px;
    
}

.html{
    position:absolute;
    top: 500px;
    right: 100px;
}

.pc{
    margin-top: 100px;

}

.node{

    position:absolute;
    top: 600px;
    left: 100px;
} 